@page "/"
@using SchemaExplorer.ReportBuilder
@using SchemaExplorer.Core

<PageTitle>Index</PageTitle>

<div class="schema-container">
    <Main Types="ParseSchema()"></Main>
</div>

@code {

    public RootType[] ParseSchema()
    {
        var sdlContent = File.ReadAllText("schema.graphql");
        var sp = new SchemaParser();
        return sp.Parse(sdlContent);
    }

}