@using SchemaExplorer.Core
<div class="root-types">
    @foreach (var root in Types)
    {
        <RootTypeComponent RootType="root" />
    }
</div>

@code {
    [Parameter]
    public RootType[] Types { get; set; }
}